.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 5%;
    color: var(--footer-text);
    background-color: var(--footer-bg);
    border-top: 1px solid #e5e7eb;
    font-size: 0.9rem;
    font-weight: 500;
}

.footer:hover {
    font-weight: 700;
    text-decoration: none;
}

@media (max-width: 640px) {
    .footer {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .footer-left a {
        margin-right: 10px;
    }
}
